<%#= Leader.docprof %>
<%= simple_form_for(@leader) do |f| %>
  <% if @leader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leader.errors.count, "error") %> prohibited this leader from being saved:</h2>

      <ul>
      <% @leader.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label><%= t ("seat") %></label><br>
    <%= f.collection_select(
        :seat_id, 
        Seat.all, 
        :id, 
        :name, 
        
        {:include_blank => t("choose")} 
      ) %>
  </div>
  <div class="field">
    <label><%= t ("leader.label.title") %></label><br>
    <%= f.collection_select(:title_id, Title.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>

    <%=  f.hidden_field :locale, :value => I18n.locale %>


  <div class="actions">
    <%= f.submit(t "leader.label.register") %>
  </div>
<% end %>
