﻿<style>

body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
  height: 100%;
  position: absolute;
  width: 100%;
}
.v-wrap{
    height: 80%;
    text-align: center;
    white-space: nowrap;
}
.v-wrap:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-right: -.25em; /*might want to tweak this. .25em for extra white space */
    height: 100%;
}
.v-box{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    padding: 1em 1em;
    font-size:2em;
    background: #EEE;
}
</style>

<div class="v-wrap">
  <div class="v-box">
    ההרשמה לכנס נסגרה.<br>
   לפניות מיוחדות אנא צרו קשר בכתובת המייל:<a href="mailto:israel@zofnat.co.il">israel@zofnat.co.il</a>
  </div>


</div>

