<style>
  .download{
    float:left;
    color:white;
  }
</style>
<p id="notice"><%= notice %></p>

<h2 class="total-part">סה"כ משתתפים: <%= @sumTotal %></h2>
<p class="download">
  Download:
  <%= link_to "Excel", leaders_path(format: "xls") %>
</p>
<table class="table table-responsive">
  <tr><th>Participants total</th>
  <tr>
    <th>בוגר + סטודנט</th>
    <th>דוקטור + פרופסור</th>
    <th>אורחים</th>
    <th>אישרו הגעה</th>
  </tr>
  <tr>
    <td><%= @sumGradStudent %></td>
    <td><%= @sumDocProf%></td>
    <td><%= @sumGuest %></td>
    <td><%= @sumRsvp %></td>
  </tr>
</table>

<table class="table table-responsive">
  <tr><th>Seats totals</th>
  <tr>
    <th>זהות</th>
    <th>מרחק</th>
    <th>כריזמה</th>
    
  </tr>
  <tr>
    <td><%= @sumIdentity %></td>
    <td><%= @sumDistance %></td>
    <td><%= @sumCharisma %></td>
  </tr>
</table>

<h3 class="reg-header"><%= t("registered") %></h3>
<table class="table table-border" id="leaders-list">
  <thead>
    <tr>
      <th><%= t("seat") %></th>
      <th><%= t("leader.title") %></th>
      <th><%= t("leader.first_name") %></th>
      <th><%= t("leader.last_name") %></th>
      <th><%= t("leader.email") %></th>
      <th><%= t("leader.rsvp") %></th>
      <th><%= t("leader.create_date") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |leader| %>
      <tr>
        <td><%= leader.seat.name %></td>
        <td><%= leader.title.name %></td>
        <td><%= leader.first_name %></td>
        <td><%= leader.last_name %></td>
        <td><%= leader.contact_email %></td>
        <td><%= check_box_tag "done", "1", leader.rsvp%></td>
        <td><%= leader.created_at %></td>
        <td><%= link_to t("edit"), edit_leader_path(leader) %></td>
        <td><%= link_to t("destroy"), leader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leader', new_leader_path %>

<%#= console %>