﻿<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Registered">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">מושב</Data></Cell>
        <Cell><Data ss:Type="String">שם פרטי</Data></Cell>
        <Cell><Data ss:Type="String">שם משפחה</Data></Cell>
        <Cell><Data ss:Type="String">אימייל</Data></Cell>
        <Cell><Data ss:Type="String">תאריך הרשמה</Data></Cell>
      </Row>
    <% @leaders.each do |leader| %>
      <Row>
        <Cell><Data ss:Type="String"><%= leader.seat.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= leader.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= leader.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= leader.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= leader.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>