<style>
  body{color:white;}
  .rsvpBox{font-size:8em;}
  #stat{}
  .button {
  padding: 5px 5px 5px 25px;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  background: #dcdcdc url(icon.png) no-repeat scroll 5px center;
}

.button {
  border: 0 none;
  border-radius: 36px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 12px 45px;
  text-transform: none;
  -webkit-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
  width: auto;
  /* auto */
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
}
.button:hover {
  opacity: .7;
}
.button.--dark {
  background: #171717;
  color: #FFFFFF;
}
.button.--green {
  background: #4ac15a;
  color: #FFFFFF;
}
.button.--blue {
  background: #2c3dcf;
  color: #FFFFFF;
}

.program{
  width: 70%;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  text-align: justify;
}

.program h1{
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.program h3{
  font-size: 24px;
  text-align: center;
}

.program p{
  color: #555;
  line-height: 1.5;
  word-spacing: 1px;
  margin-bottom: 20px;
}

.program a{
  color: #e74c3c;
  position: relative;
  font-weight: 600;
  font-size: 55px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.program a:hover{
  color: #222;
}

.program a:before, a:after{
  content: '';
  background: #e74c3c;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.program a:before{
  top: 0;
  left: 0;
}

.program a:after{
  top: 100%;
  right: 0;
}

.program a:hover:before, .program a:hover:after{
  width: 100%;
}

.no-padding {
  padding: 0px!important;
}

.Cbottons{
  margin-top: 60px;
}

</style>
<div class="">
  <p id="notice"><%= notice %></p>
  <h2><%= "#{t "hello"} #{@leader.first_name}" %></h2>
  <p>
    <strong><%= t "seat" %>:</strong>
    <%= @leader.seat.name %>
  </p>

  <p>
    <strong><%= t "leader.label.title" %>:</strong>
    <%= @leader.title.name %>
  </p>

  <p>
    <strong><%= t "email.label" %>:</strong>
    <%= @leader.contact_email %>
  </p>
</div>

<div class="">
  <h2>לחצ\י על הכפתור מטה לאשר הגעה</h2>
 
<!-- 
  <a href="http://leadersil.org/leaders/<%= @leader.rsvp_token %>/conf?rsvp=si"
    style="background:#11356D;
      color:white;
      display:inline-block;
      width:auto; 
      text-align:center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      text-decoration:none;
      border:10px solid #11356D;
      -moz-box-shadow: 3px 0 0 0 #ccc; 
      -webkit-box-shadow: 3px 0 0 0 #ccc; 
      box-shadow: 3px 0 0 0 #ccc; ">Visit our website</a>
      
      <a href="http://leadersil.org/leaders/<%= @leader.rsvp_token %>/conf?rsvp=no" 
    style="background:#11356D;
      color:white;
      display:inline-block;
      width:auto; 
      text-align:center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      text-decoration:none;
      border:10px solid #11356D;
      -moz-box-shadow: 3px 0 0 0 #ccc; 
      -webkit-box-shadow: 3px 0 0 0 #ccc; 
      box-shadow: 3px 0 0 0 #ccc; ">Visit our website</a>
 -->

<div class='container Cbottons no-padding'>
  <div class="button-container">
    <div class='button --green center' id="rsvpYes">מגיע</div>
    <div class='button --blue center'  id="rsvpNo">לא מגיע</div>
  </div>
</div>

<div class="report">הירשמותך נרשמה במערכת</div>

<div class="container program">
  <h3><a href="/brochure.pdf">לתוכניה</a></h3>
</div>

</div>





<script>

$(document).ready(function() {

  
  $(".best_in_place").best_in_place();
  
  originalState = $("#rsvp").attr( 'data-bip-original-content' );
  
  $("#rsvp").click(function(){
    if( originalState == "false"){
      $("#stat").html("<%= t "rsvpYes" %>");
      originalState = "true";
    }
    else{
      $("#stat").html("<%= t "rsvpNo" %>");
      originalState = "false";
    }
  });
  
  
  $('.report').hide();
  $('.button-container').find(".button").on("click" , function() {
      if($(this).attr("id") == "rsvpYes") {
        $('.report').show();
        $('.report').text("הירשמותך נרשמה במערכת");
	$.ajax({
	      type: "PUT",
	      url: 'http://leadersil.org/leaders/<%= @leader.rsvp_token %>',
	      data: JSON.stringify({ rsvp:true } ),
	      contentType: 'application/json', // format of request payload
	      dataType: 'json', // format of the response
	      success: function(response) {
        	//alert( "Data Saved: " + msg );
	      }
});
      }else{    
        $('.report').show();
        $('.report').text("הנך מאשר/ת כי אינך מגיע לכנס");

            $.ajax( {
              type: "PUT",
              url: "http://leadersil.org/leaders/<%= @leader.rsvp_token %>",
              data: JSON.stringify({ rsvp:false }),
	      contentType: 'application/json', // format of request payload
              dataType: 'json', // format of the response

              success: function( response ) {
              //alert(response);
              }
            });
      }
  });
  
  
  $(".rsvpAnswer").click(function(e){ 

    $.ajax( {
      type: "PUT",
      url: "http://leadersil.org/leaders/<%= @leader.rsvp_token %>.json",
      data: {rsvp:true},
      success: function( response ) {
      alert(response);
      }
    });

});
  
  
  
});

</script>
