﻿<h3> <%= t("email.thankyou1") + "#{@leader.first_name}" + " " +  "#{@leader.last_name}" + t("email.thankyou2") %> </h3>
<p>
  <%= @message %>
</p>
<% if @leader.locale == "he" %>
<p>הכנס יתקיים ביום שני ה-23 לנובמבר החל מ-12 בצהריים בקמפוס הר הצופים של האוניברסיטה העברית</p>
<% end %>
<% if @leader.locale == "en" %>
<p>
The conference will take place on Monday, November 23rd, starting at noon at Hebrew University's Mount scopus campus
</p>
<% end %>