<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

    </style>
    <% I18n.locale = @leader.locale %>
    </head>
  <body style="text-align:center;width: 80%;">

    <p>
    <%= t "hello" %> <%= @leader.first_name %>, <%= t "email.greeting1" %><br>
    <%= t "email.greeting2" %>: <%= @leader.seat.name %><br>
    <%= t "email.rsvp" %>: <%= link_to "אישור", "http://leadersil.org/leaders/#{@leader.rsvp_token}" %><br><br>
    <%= t "email.final" %>
    </p>

    <%= image_tag("http://leadersil.org/lil-brochure.jpg", class: "brochure", :style => "width:1200px;") %>

  </body>
</html>