<!DOCTYPE html>
<html>
<head>
  <title><%= t "title" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body class="" lang="<%= I18n.locale %>" dir="<%= "#{I18n.locale == :en ? "ltr" : "rtl"}" %>">
<div id="wrapper">
<header>

<div id="languages">
  <%= link_to image_tag("usa.png"), url_for(:locale => "en") %>

  <%= link_to image_tag("israel.png"), url_for(:locale => "he") %>
</div>
    <%= image_tag("huji-logo.jpg", :id => "huji-logo") %>
</header>

<div class="container ">
<%= yield %>
</div>

<footer class="footer">
    <div class="right">
      <%= link_to image_tag("onelovelogo.png"), "http://onelove.website", :target => "_blank", :class => "ol-logo" %>
    </div>
    <div class="left">
      <%#= link_to image_tag("eifa-logo.jpg"), "http://www.ippa.org.il/", :target => "_blank" %>
      <%#= link_to image_tag("ofek-logo.jpg"), "http://www.ofek-groups.org/", :target => "_blank" %>
    </div>
    
    
</footer>

</div>

<script>
setTimeout(function() {
    $('.alert').fadeOut('fast');
}, 4000);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48557700-8', 'auto');
  ga('send', 'pageview');

</script>

<script>
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
  $("[name='rsvp']").bootstrapSwitch();
});


</script>

</body>
</html>
